<main>
    <app-header></app-header>

    <body class="flex justify-center h-screen">
        <div class="app-dashboard-page flex flex-col w-full justify-center items-center">

            <form class="flex flex-col">
                <label class="text-center" for="search-book">Titre de votre livre</label>
                <app-input
                    id="search-book"
                    type="text"
                    [(value)]="searchDto.title"
                    name="search"
                ></app-input>
                <app-button (click)="loadBooks()">Rechercher</app-button>
            </form>

            <app-list-books-searched></app-list-books-searched>

        </div>

    </body>
</main>